<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modal Demo</title>
</head>
<body>
  <core-button modal="lalaland">
    Submit
  </core-button>

  <beast-modal name="lalaland">
    <h1 slot="header">Lalaland</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium a, deserunt, quos suscipit minus minima eveniet mollitia doloribus possimus nulla accusamus fuga vitae? Enim, iste. Eum quaerat dicta quas nesciunt molestiae odit error, fugit exercitationem aut eligendi, provident vel deleniti perspiciatis delectus alias eaque quam dolorem sit amet minima earum. Delectus laudantium, suscipit, officia tenetur eveniet, iste ab voluptatem incidunt necessitatibus enim rem. Suscipit incidunt ad impedit, nobis, deserunt aliquam cumque aperiam cupiditate sint hic assumenda, iste eos consequatur mollitia illum voluptas accusamus unde provident. Quo distinctio ipsum accusantium quod, sit unde nisi fuga qui voluptates. Error, dolores consequuntur.</p>
  </beast-modal>
<script src="../../dist/lib/core-modal/index.js"></script>
<script src="../../dist/lib/core-button/index.js"></script>
</body>
</html>