<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modal Demo</title>
  <link href="core-modal.demo.css" rel="stylesheet">
</head>
<body>

  <div class="modal_block">
    <h2>core-modal</h2>
    <p>The core-modal relies on the modal attribute included in the binded element, while the name attribute should be in the modal tag. Note that the arguments for both of these attributes should be the same. </p>
    <div class="modal_row">
      <div class="modal_container">
        <core-button modal="captain-america">
          Steve Rogers
        </core-button>
        <core-modal name="captain-america">
          <h1 slot="header">Captain America</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium a, deserunt, quos suscipit minus minima eveniet mollitia doloribus possimus nulla accusamus fuga vitae? Enim, iste. Eum quaerat dicta quas nesciunt molestiae odit error, fugit exercitationem aut eligendi, provident vel deleniti perspiciatis delectus alias eaque quam dolorem sit amet minima earum. Delectus laudantium, suscipit, officia tenetur eveniet, iste ab voluptatem incidunt necessitatibus enim rem. Suscipit incidunt ad impedit, nobis, deserunt aliquam cumque aperiam cupiditate sint hic assumenda, iste eos consequatur mollitia illum voluptas accusamus unde provident. Quo distinctio ipsum accusantium quod, sit unde nisi fuga qui voluptates. Error, dolores consequuntur.</p>
        </core-modal>
      </div>
      <div class="modal_container">
        <core-button modal="iron-man" color="primary">
          Tony Stark
        </core-button>
        <core-modal name="iron-man">
          <h1 slot="header">Iron Man</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium a, deserunt, quos suscipit minus minima eveniet mollitia doloribus possimus nulla accusamus fuga vitae? Enim, iste. Eum quaerat dicta quas nesciunt molestiae odit error, fugit exercitationem aut eligendi, provident vel deleniti perspiciatis delectus alias eaque quam dolorem sit amet minima earum. Delectus laudantium, suscipit, officia tenetur eveniet, iste ab voluptatem incidunt necessitatibus enim rem. Suscipit incidunt ad impedit, nobis, deserunt aliquam cumque aperiam cupiditate sint hic assumenda, iste eos consequatur mollitia illum voluptas accusamus unde provident. Quo distinctio ipsum accusantium quod, sit unde nisi fuga qui voluptates. Error, dolores consequuntur.</p>
        </core-modal>
      </div>
      <div class="modal_container">
        <core-button modal="hulk" color="secondary">
          Bruce Banner
        </core-button>
        <core-modal name="hulk">
          <h1 slot="header">Hulk</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium a, deserunt, quos suscipit minus minima eveniet mollitia doloribus possimus nulla accusamus fuga vitae? Enim, iste. Eum quaerat dicta quas nesciunt molestiae odit error, fugit exercitationem aut eligendi, provident vel deleniti perspiciatis delectus alias eaque quam dolorem sit amet minima earum. Delectus laudantium, suscipit, officia tenetur eveniet, iste ab voluptatem incidunt necessitatibus enim rem. Suscipit incidunt ad impedit, nobis, deserunt aliquam cumque aperiam cupiditate sint hic assumenda, iste eos consequatur mollitia illum voluptas accusamus unde provident. Quo distinctio ipsum accusantium quod, sit unde nisi fuga qui voluptates. Error, dolores consequuntur.</p>
        </core-modal>
      </div>
      <div class="modal_container">
        <core-button modal="thanos" color="dark">
          Thanos
        </core-button>
        <core-modal name="thanos">
          <h1 slot="header">Thanos</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium a, deserunt, quos suscipit minus minima eveniet mollitia doloribus possimus nulla accusamus fuga vitae? Enim, iste. Eum quaerat dicta quas nesciunt molestiae odit error, fugit exercitationem aut eligendi, provident vel deleniti perspiciatis delectus alias eaque quam dolorem sit amet minima earum. Delectus laudantium, suscipit, officia tenetur eveniet, iste ab voluptatem incidunt necessitatibus enim rem. Suscipit incidunt ad impedit, nobis, deserunt aliquam cumque aperiam cupiditate sint hic assumenda, iste eos consequatur mollitia illum voluptas accusamus unde provident. Quo distinctio ipsum accusantium quod, sit unde nisi fuga qui voluptates. Error, dolores consequuntur.</p>
        </core-modal>
      </div>
    </div>
  </div>
<script src="../../dist/lib/core-modal/index.js"></script>
<script src="../../dist/lib/core-button/index.js"></script>
</body>
</html>