<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="core-image.demo.css" rel="stylesheet">
  <link href="../../node_modules/element-theme-chalk/lib/index.css" rel="stylesheet">
</head>
<body>
  <div class="image_block">
    <h2>core-image fit attribute</h2>
    <p>The core-image requires the src attribute where the argument should be a valid link to an image of choice. The core-image requires the src attribute where the argument should be a valid link to an image of choice. The core-image can use the fit attribute where it changes how the image will load. You have the choice between "fill", "contain", "cover", "none", and "scale-down".  </p>
    <div class="image_row">
      <div class="image_container">
        <core-image
          src="https://images.unsplash.com/photo-1558945657-484aa38065ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"
          fit="fill">
        </core-image>
      </div>
      <div class="image_container">
        <core-image
          src="https://images.unsplash.com/photo-1558945657-484aa38065ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"
          fit="contain">
        </core-image>
      </div>
      <div class="image_container">
        <core-image
          src="https://images.unsplash.com/photo-1558945657-484aa38065ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"
          fit="cover">
        </core-image>
      </div>
      <div class="image_container">
        <core-image
          src="https://images.unsplash.com/photo-1558945657-484aa38065ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"
          fit="none">
        </core-image>
      </div>
      <div class="image_container">
        <core-image
          src="https://images.unsplash.com/photo-1558945657-484aa38065ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"
          fit="scale-down">
        </core-image>
      </div>
    </div>
  </div>

  <div class="image_block">
    <h2>core-image loading with a placeholder</h2>
    <p>The core-image can display loading content before the image is loaded. This depends on a div tag inside the core-image tag, where it should include the slot attribute with the argument "placeholder". Within this div tag, you can put any content you want for your placeholders.</p>
    <div class="image_row">
      <div class="image_container">
        <core-image
          src="https://images.unsplash.com/photo-1558945657-484aa38065ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"
          fit="fill">        
          <div slot="placeholder" style="display: flex; text-align: center; align-items: center; justify-content: center; width: 100%; height: 100%;">
            Loading<span class="dot">...</span>
          </div>
        </core-image>
      </div>
      <div class="image_container">
        <core-image
          src="https://images.unsplash.com/photo-1558945657-484aa38065ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"
          fit="contain">
          <div slot="placeholder" style="display: flex; text-align: center; align-items: center; justify-content: center; width: 100%; height: 100%;">
            Loading<span class="dot">...</span>
          </div>
        </core-image>
      </div>
      <div class="image_container">
        <core-image
          src="https://images.unsplash.com/photo-1558945657-484aa38065ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"
          fit="cover">
          <div slot="placeholder" style="display: flex; text-align: center; align-items: center; justify-content: center; width: 100%; height: 100%;">
            Loading<span class="dot">...</span>
          </div>
        </core-image>
      </div>
      <div class="image_container">
        <core-image
          src="https://images.unsplash.com/photo-1558945657-484aa38065ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"
          fit="none">
          <div slot="placeholder" style="display: flex; text-align: center; align-items: center; justify-content: center; width: 100%; height: 100%;">
            Loading<span class="dot">...</span>
          </div>
        </core-image>
      </div>
      <div class="image_container">
        <core-image
          src="https://images.unsplash.com/photo-1558945657-484aa38065ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"
          fit="scale-down">
          <div slot="placeholder" style="display: flex; text-align: center; align-items: center; justify-content: center; width: 100%; height: 100%;">
            Loading<span class="dot">...</span>
          </div>
        </core-image>
      </div>
    </div>
  </div>

  <div class="image_block">
    <h2>core-image error with a placeholder</h2>
    <p>The core-image can error handle if the image is not valid. This depends on a div tag inside the core-image tag, where it should include the slot attribute with the argument "error". Within this div tag, you can put any content you want for your placeholders. </p>
    <div class="image_row">
      <div class="image_container">
        <core-image
          src="https://imag.unsplash.com/photo-1558945657-484aa38065ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"
          fit="scale-down">
          <div slot="error" style="display: flex; text-align: center; align-items: center; justify-content: center; width: 100%; height: 100%;">
            <i class="el-icon-picture-outline"></i>
          </div>
        </core-image>
      </div>
    </div>
  </div>

  <div class="image_block">
    <h2>core-image lazy attribute</h2>
    <p>The core-image has a lazy attribute where it can load the image as the user approaches them. For this you simple include the lazy attribute in core-image. </p>
    <div class="image_row">
      <div class="image_scroll">
          <core-image fit="cover" style="display: block; min-height: 200px; margin-bottom: 10px;" lazy src="https://fuss10.elemecdn.com/a/3f/3302e58f9a181d2509f3dc0fa68b0jpeg.jpeg"></core-image>
          <core-image fit="cover" style="display: block; min-height: 200px; margin-bottom: 10px;" lazy src="https://fuss10.elemecdn.com/1/34/19aa98b1fcb2781c4fba33d850549jpeg.jpeg"></core-image>
          <core-image fit="cover" style="display: block; min-height: 200px; margin-bottom: 10px;" lazy src="https://fuss10.elemecdn.com/0/6f/e35ff375812e6b0020b6b4e8f9583jpeg.jpeg"></core-image>
          <core-image fit="cover" style="display: block; min-height: 200px; margin-bottom: 10px;" lazy src="https://fuss10.elemecdn.com/9/bb/e27858e973f5d7d3904835f46abbdjpeg.jpeg"></core-image>
          <core-image fit="cover" style="display: block; min-height: 200px; margin-bottom: 10px;" lazy src="https://fuss10.elemecdn.com/d/e6/c4d93a3805b3ce3f323f7974e6f78jpeg.jpeg"></core-image>
      </div>
    </div>
  </div>

  <script src="../../dist/lib/core-image/index.js"></script>
</body>
</html>