<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Test Web Component</title>
	<link rel="stylesheet" href="button.css">
</head>
<body>
    <h1 id="documentHeader">Our button web component is below!</h1>
    
    <h2>Large, rounded button with default color</h2>
    <core-button rounded size="large">
        Large
    </core-button>
    
    <h2>Small, rounded button with shadow and primary color</h2>
    <core-button rounded size="small" shadow color="primary">
        Small
    </core-button>
    
    <h2>Medium button with shadow and secondary color</h2>
    <core-button size="medium" shadow color="secondary">
        Medium
	</core-button>
	
	<h2>Animated</h2>
    <core-button size="medium" animated color="secondary">
        Animated
    </core-button>
	
	<h2>Circle</h2>
    <core-button circle size="medium" color="primary">
        Circle
    </core-button>

	<script type="text/javascript" src="core-button.js"></script>
</body>

</html>