#button {
  text-align: center;
  border: 0.3rem solid #a5a5a5; /* default color is light grey*/
  width: 6rem;
  height: 3rem;
  /* transition-duration:0.4s; */
  cursor: pointer;
}

#button:hover{
  background-color: #a5a5a5; /* default color is light grey*/
  color: white;
}

.shadow{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.rounded{
  border-radius: 1rem;
}

#button.small{
  font-size: 10px;
  width: 4rem;
  height: 2rem;
  line-height: 2rem;
}

#button.medium{
  font-size: 16px;
  width: 7rem;
  height: 4rem;
  line-height: 4rem;
}

#button.large{
  font-size: 22px;
  width: 10rem;
  height: 5rem;
  line-height: 5rem;
}

#button.primary{
  border: 0.3rem solid #4286f4; /* primary color is blue*/
}

#button.primary:hover{
  background-color: #4386f4; /* primary color is blue */
  color: white;
}

#button.secondary{
  border: 0.3rem solid #f44336; /* secondary color is red*/
}

#button.secondary:hover{
  background-color: #f44336; /* secondary color is red */
  color: white;
}

#button.dark{
  border: 0.3rem solid #555555; /* dark color is dark grey */
}

#button.dark:hover{
  background-color: #555555; /* dark color is dark grey */
  color: white;
}