<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>core-button</title>
	<link rel="stylesheet" href="core-button.demo.css">
</head>
<body>
  <h1 id="documentHeader">Example Usage of "core-button"</h1>
	

	<!-- first row is displaying options for "color" attribute -->
	<!-- button_row is used to hold a row of buttons -->
	<div class="button_row"> 
		<h2>core-button color attribute</h2>
		<p>
			The core-button web component can include an attribute tag to control the color of the button.
			The color can be specified in the core-button tag as follows: <code>color="primary"</code>. The possible
			color attribute values are <code>primary</code>, <code>secondary</code>, and <code>dark</code>. If no <code>color</code>
			attribute is specified a default color will be applied.
		</p>

		<!-- btn_containers are used to put all buttons on same row -->
		<div class ="btn_container"> 
			<core-button>
				Default
			</core-button>
		</div>
		<div class ="btn_container">
			<core-button color="primary">
				Primary
			</core-button>
		</div>
		<div class ="btn_container">
			<core-button color="secondary">
				Secondary
			</core-button>
		</div>
		<div class ="btn_container">
			<core-button color="dark">
				Dark
			</core-button>
		</div>
	</div>

	<!-- second row is displaying options for "animated" attribute -->
	<!-- button_row is used to hold a row of buttons -->
	<div class="button_row"> 
		<h2>core-button animated attribute</h2>
		<p>
			The core-button web component can include an attribute tag to add an animation to the button.
			To add an animated add the <code>animated</code> attribute inside the core-button tag.
		</p>

		<!-- btn_containers are used to put all buttons on same row -->
		<div class ="btn_container"> 
			<core-button animated>
				Default
			</core-button>
		</div>
		<div class ="btn_container">
			<core-button color="primary" animated>
				Primary
			</core-button>
		</div>
		<div class ="btn_container">
			<core-button color="secondary" animated>
				Secondary
			</core-button>
		</div>
		<div class ="btn_container">
			<core-button color="dark" animated>
				Dark
			</core-button>
		</div>
	</div>

	<!-- third row is displaying options for "size" attribute -->
	<!-- button_row is used to hold a row of buttons -->
	<div class="button_row"> 
		<h2>core-button size attribute</h2>
		<p>
			The core-button web component can include an attribute tag to control the size of the button.
			The size can be specified in the core-button tag as follows: <code>size="small"</code>. The possible
			size attributes are <code>small</code>, <code>medium</code>, and <code>large</code>. If no <code>size</code>
			attribute is specified a default size will be applied.
		</p>

		<!-- btn_containers are used to put all buttons on same row -->
		<div class="btn_container"> 
			<core-button size="small">
				Small
			</core-button>
		</div>
		<div class="btn_container">
			<core-button color="primary">
				Default
			</core-button>
		</div>
		<div class="btn_container">
			<core-button color="secondary" size="medium">
				Medium
			</core-button>
		</div>
		<div class="btn_container">
			<core-button color="dark" size="large">
				Large
			</core-button>
		</div>
	</div>

	<!-- fourth row is displaying options for "shadow" attribute -->
	<!-- button_row is used to hold a row of buttons -->
	<div class="button_row"> 
		<h2>core-button shadow attribute</h2>
		<p>
			The core-button web component can include an attribute tag to add a shadow below the button.
			To add a button shadow add the <code>shadow</code> attribute inside the core-button tag.
		</p>

		<!-- btn_containers are used to put all buttons on same row -->
		<div class="btn_container"> 
			<core-button size="small" shadow>
				Small
			</core-button>
		</div>
		<div class="btn_container">
			<core-button color="primary" shadow>
				Default
			</core-button>
		</div>
		<div class="btn_container">
			<core-button color="secondary" size="medium" shadow>
				Medium
			</core-button>
		</div>
		<div class="btn_container">
			<core-button color="dark" size="large" shadow>
				Large
			</core-button>
		</div>
	</div>

	<!-- fifth row is displaying options for "rounded" attribute -->
	<!-- button_row is used to hold a row of buttons -->
	<div class="button_row"> 
		<h2>core-button rounded attribute</h2>
		<p>
			The core-button web component can include an attribute tag to add rounded corners to a button.
			To add rounded corners add the <code>rounded</code> attribute inside the core-button tag.
		</p>
	
		<!-- btn_containers are used to put all buttons on same row -->
		<div class="btn_container"> 
			<core-button size="small" rounded>
				Small
			</core-button>
		</div>
		<div class="btn_container">
			<core-button color="primary" rounded>
				Default
			</core-button>
		</div>
		<div class="btn_container">
			<core-button color="secondary" size="medium" rounded>
				Medium
			</core-button>
		</div>
		<div class="btn_container">
			<core-button color="dark" size="large" rounded>
				Large
			</core-button>
		</div>
	</div>
		
	<!-- sixth row is displaying options for "circle" attribute -->
	<!-- button_row is used to hold a row of buttons -->
	<div class="button_row"> 
		<h2>core-button cirle attribute</h2>
		<p>
			The core-button web component can include an attribute tag to make circular buttons.
			To create circular buttons add the <code>circle</code> attribute inside the core-button tag.
		</p>
	
		<!-- btn_containers are used to put all buttons on same row -->
		<div class="btn_container"> 
			<core-button size="small" circle>
				Small
			</core-button>
		</div>
		<div class="btn_container">
			<core-button color="primary" circle>
				Default
			</core-button>
		</div>
		<div class="btn_container">
			<core-button color="secondary" size="medium" circle>
				Medium
			</core-button>
		</div>
		<div class="btn_container">
			<core-button color="dark" size="large" circle>
				Large
			</core-button>
		</div>
	</div>
	
	<!-- script for core-button functionality -->
	<script type="text/javascript" src="../../dist/lib/core-button/index.js"></script>
</body>

</html>