#button {
	text-align: center;
	line-height: 150px;
}

:host([rounded]) #button{
	border-radius: 25px;
	border: 2px solid #73AD21;
	width: 200px;
	height: 150px;
}

:host([size:"small"]) #button{
	font-size: 10px;
}

:host([size:"medium"]) #button{
	font-size: 16px;
}

:host([size:"large"]) #button{
	font-size: 22px;
}