<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <style>
    .item {
      display: inline-block;
      position: relative;
      margin-top: 20px;
      margin-right: 30px;
    }
  </style>

  <core-badge value="12" class="item" id="haha">
    <core-button-filled size="small" color="info">comments</core-button-filled>
  </core-badge>

  <core-badge value="3" class="item">
    <core-button-filled size="small" color="info">replies</core-button-filled>
  </core-badge>

  <core-badge value="1" class="item" type="primary">
    <core-button-filled size="small" color="info">comments</core-button-filled>
  </core-badge>

  <core-badge value="2" class="item" type="warning">
    <core-button-filled size="small" color="info">replies</core-button-filled>
  </core-badge>

  <core-badge value="200" max="99" class="item">
    <core-button size="small">comments</core-button>
  </core-badge>

  <core-badge value="100" max="10" class="item">
    <core-button size="small">replies</core-button>
  </core-badge>
    
  <core-badge value="hot" class="item">
    <core-button size="small">comments</core-button>
  </core-badge>

  <core-badge value="new" class="item">
    <core-button size="small">replies</core-button>
  </core-badge>

  <core-badge value="new" class="item" is-dot>
    <core-button size="small">replies</core-button>
  </core-badge>

  <script src="../../dist/lib/core-badge/index.js"></script>
  <script src="../../dist/lib/core-button-filled/index.js"></script>
  <script src="../../dist/lib/core-button/index.js"></script>
</body>
</html>