/*
this rule styles all core-badges attached to core-buttons
*/
core-badge {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-right: 30px;
}

/*
this rule styles text placed in a code tag such that it is distinguishable
from text in a p element.
*/
code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

/*
badge_row is a div that will display four core-badges horizontally
*/
.badge_row {
  width: 50%;
  margin: 0 auto;
}

/*
badge_container holds a single core-badge element and is used as a column to
equally space four badges in a row
*/
.badge_container {
  width: 20%;
  display: inline-block;
  margin-left: 3%;
}

/*
This rule styles texts inside .badge_container for contrast
*/
.badge_container > p {
  font-size: 12px;
  color: #555;
}

/* rule to center the h1 tag horizontally */
h1 {
  display: block;
  width: 50%;
  margin: 2rem auto;
}