<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="../../node_modules/element-theme-chalk/lib/index.css" rel="stylesheet">
  <link href="core-progress.demo.css" rel="stylesheet">
</head>
<body>
  <div class="progress_block">
    <h2>core-progress percentage attribute</h2>
    <p>The core-progress percentage attribute is used for showing different percentages as its apparent on the actual element.</p>
    <div class="progress_column">
      <core-progress percentage="0"></core-progress>
      <core-progress percentage="70"></core-progress>
      <core-progress percentage="80"></core-progress>
      <core-progress percentage="100"></core-progress>
      <core-progress percentage="50"></core-progress>
    </div>
  </div>

  <div class="progress_block">
    <h2>core-progress status attribute</h2>
    <p>The core-progress features a status attribute where you can change the type of progress between "success", "warning", and "exception".</p>
    <div class="progress_column">
      <core-progress percentage="75" status="success"></core-progress>
      <core-progress percentage="75" status="exception"></core-progress>
      <core-progress percentage="75" status="warning"></core-progress>
    </div>
  </div>

  <div class="progress_block">
    <h2>core-progress color attribute</h2>
    <p>The core-progress features a color attribute where you can change the color of the displayed line or circle. The colors follow the coloring naming style of vanilla HTML.</p>
    <div class="progress_column">
      <core-progress percentage="75" color="teal"></core-progress>
      <core-progress percentage="75" color="yellowgreen"></core-progress>
      <core-progress percentage="75" color="orange"></core-progress>
      <core-progress percentage="75" color="#598e25"></core-progress>
      <core-progress percentage="75" color="#8e71c7"></core-progress>
    </div>
  </div>

  <div class="progress_block">
    <h2>core-progress show-text attribute</h2>
    <p>The core-progress features a show-text where it actually makes the percentage visisible in numerical form outside the line or circle. </p>
    <div class="progress_column">
      <core-progress percentage="0" show-text></core-progress>
      <core-progress percentage="70" show-text></core-progress>
      <core-progress percentage="80" show-text></core-progress>
      <core-progress percentage="100" show-text></core-progress>
      <core-progress percentage="50" show-text></core-progress>
    </div>
  </div>

  <div class="progress_block">
    <h2>core-progress stroke-width attribute</h2>
    <p>The core-progress features the attribute stroke-width, which allows you to change the width of the line or circle.</p>
    <div class="progress_column">
      <core-progress percentage="0" stroke-width="16" show-text></core-progress>
      <core-progress percentage="70" stroke-width="16" show-text></core-progress>
      <core-progress percentage="80" stroke-width="16" show-text></core-progress>
      <core-progress percentage="100" stroke-width="16" show-text></core-progress>
      <core-progress percentage="50" stroke-width="16" show-text></core-progress>
    </div>
  </div>

  <div class="progress_block">
    <h2>core-progress text-inside attribute</h2>
    <p>The core-progress features the text-inside attribute, which depends on the show-text attribute. This makes the numerical percentage show inside the actual line or circle. </p>
    <div class="progress_column">
      <core-progress percentage="0" stroke-width="16" show-text text-inside></core-progress>
      <core-progress percentage="70" stroke-width="16" show-text text-inside></core-progress>
      <core-progress percentage="80" stroke-width="16" show-text text-inside></core-progress>
      <core-progress percentage="100" stroke-width="16" show-text text-inside></core-progress>
      <core-progress percentage="50" stroke-width="16" show-text text-inside></core-progress>
    </div>
  </div>

  <div class="progress_block">
    <h2>core-progress type attribute</h2>
    <p>The core-progress features the type attribute where you can change the shape of the progression including "line" or "circle". By default, it will be a line when this attribute is not included.</p>
    <p style="text-align: center;">type="line"</p>
    <div class="progress_column">
      <core-progress percentage="15" status="success" stroke-width="16" show-text type="line"></core-progress>
      <core-progress percentage="30" status="exception" stroke-width="16" show-text type="line"></core-progress>
      <core-progress percentage="45" status="warning" stroke-width="16" show-text type="line"></core-progress>
      <core-progress percentage="60" color="teal" stroke-width="16" show-text type="line"></core-progress>
      <core-progress percentage="75" color="yellowgreen" stroke-width="16" show-text type="line"></core-progress>
      <core-progress percentage="90" color="orange" stroke-width="16" show-text type="line"></core-progress>
    </div>
    <p style="text-align: center;">type="circle"</p>
    <div class="progress_row">
      <core-progress percentage="15" status="success" stroke-width="16" show-text type="circle"></core-progress>
      <core-progress percentage="30" status="exception" stroke-width="16" show-text type="circle"></core-progress>
      <core-progress percentage="45" status="warning" stroke-width="16" show-text type="circle"></core-progress>
      <core-progress percentage="60" color="teal" stroke-width="16" show-text type="circle"></core-progress>
      <core-progress percentage="75" color="yellowgreen" stroke-width="16" show-text type="circle"></core-progress>
      <core-progress percentage="90" color="orange" stroke-width="16" show-text type="circle"></core-progress>
    </div>
  </div>
  <script src="../../dist/lib/core-progress/index.js"></script>
</body>
</html>